<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            
</head>
<body>
{% block content %}


    <div class="container">
    <h3>Update product</h3>
        <form action="updateitems/{{result.id}}" method="post" class="form group" enctype="multipart/form-data" > <br>
            {% csrf_token %}
            Product Code:<input type="number" name="ucode" placeholder={{result.pcode}} class="form-control"><br>
            Product Name:<input type="text" name="uname" placeholder={{result.pname}} class="form-control"><br>
            Product Description:<input type="text" name="udescription" placeholder={{result.pdescription}} class="form-control"><br>
            Available Qty:<input type="number" name="uqty" placeholder={{result.pqty}} class="form-control"><br>
            Price:<input type="number" name="uprice"  placeholder={{result.pprice}} class="form-control"><br>
            Upload Image:<input type="file" name="uimg" class="form-control"><br>
            <button type="submit" class="btn btn-success">Add Item</button>

        </form>
    </div>


{% endblock %}
</body>
</html>